    /* Genel Stiller */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    height: 100vh;
    }
    
    .container{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 1000vh;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #1f1f1fb5;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #202020;
        padding: 15px 20px;
        position: relative;
    }

    .navbar .logo {
        color: #D7FA51;
        font-size: 12px;
        text-decoration: none;
    }
    .navbar .logo img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .navbar ul {
        list-style: none;
        display: flex;
    }

    .navbar ul li {
        margin: 0 15px;
    }

    .navbar ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: 0.3s;
    }

    .navbar ul li a:hover {
        color:#006439;
    }

    .navbar .search-box{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: none;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #202020;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease;
    }

    .menu.active {
        right: 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        margin: 15px 0;
        transition: 0.3s;
    }

    .menu a:hover {
        color: #ffcc00;
    }

    .menu-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-toggle div {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: white;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .navbar ul {
            display: none;
        }

        .menu-toggle {
            display: flex;
        }
    }
        
    .navbar-brand {
    font-weight: bold;
    color: #f1f1f1;
    }
    .navbar-brand img{
    border-radius: 50%;
    }
        



    .search-box{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: none;
    }
    .search-box .row{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .search-box .search-bar{
        width: 100%;
        height: 100%;
        background-color: none;
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px;
        color: whitesmoke;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        background-color: #202020;
    }
    .search-box .search-bar:hover{
        background-color: #121212;
        color: black;
        border: 2px solid #00643D;
    }

    .search-box .search-row:focus{
        background-color: #121212;
        color: black;
        border: 2px solid #00643D;
    }

    .search-box .search-row:active{
        background-color: #121212;
        color: black;
        border: 2px solid #00643D;
    }

    .search-box .search-bar:focus-visible{
        background-color: #121212;
        color: black;
        border: 2px solid #00643D;
    }

    .search-box .search-button{
        width: 30%;
        height: 100%;
        margin-left: 10px;
        padding-top: 2%;
        background-color:#1E1E1E;
        border: 1px solid #00643D;
        border-radius: 10px;
    }

    .search-box .search-button:hover{
        color: black;
        border: 1px solid #00643D;
        border-radius: 10px;
    }
    .search-box .search-button:hover{
        color: black;
        border: 1px solid #00643D;
        border-radius: 10px;
    }

    .search-box .search-button:active{
        color: black;
        border: 1px solid #00643D;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
    }
    

    .search-box .search-button img{
        width: 20px;
        height: 20px;
        background-color: #1E1E1E;
        border: 0px solid black;
    }

    .main{
        background-color: #1f1f1f;
        color: #D7FA51;
        display: flex;
        flex: 1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "sidebar section article"
        "sidebar section article"
        "sidebar section article";
    }
 

    /* Ana container için flex yapısı */
    .main {
        display: flex;
        gap: 20px;
    }
    
    /* Sidebar stilleri */
    .main .sidebar {
        flex: 1;
        background-color: #1f1f1f;
        padding: 20px;
        font-family: 'Poppins', sans-serif;
        color: #f1f1f1;
        text-align: center;
    }
    
    /* Section stilleri */
    .main .section {
        flex: 3;
        background-color: #1f1f1f;
        text-align: center;
    }
    
    /* Mobil görünüm için */
    @media screen and (max-width: 768px) {
        .main {
            flex-direction: column;
        }
        
        .main .sidebar {
            display: block; /* none yerine block yapıyoruz */
            width: 100%;
            order: -1; /* Sidebar'ı üste taşır */
            padding: 100px;
            margin-left: 0;
        }
        
        .main .section {
            width: 100%;
            margin: auto;
            margin-left: 0;
        }
    }
    
    /* Diğer stiller aynı kalacak */
    .main .sidebar-header img {
        border-radius: 50%;
    }
    
    .main .sidebar-header a {
        text-decoration: none;
        color: #f1f1f1;
    }
    
    .main .sidebar-header button {
        display: block;
        width: 49%;
        height: 40px;
        background-color: #00643D;
        border: none;
        border-radius: 5px;
    }
    
    .kutu{
        width: 100%;
        background-color: #383838;
        border-radius: 10px;
        padding: 20px;
        font-family: 'Poppins', sans-serif;
        color: #f1f1f1;
    }



    .kutu img{
        width: 50%;
        height: 50%;
        object-fit: cover;
        margin: auto;
        display: inline-block;
        border-radius: 200px;
        background-color: white;
    }

    .kutu .kutu-img{
        width: 100%;
        height: 100%;
        margin-bottom: -30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #00643D;
    }
    .kutu .profile-picture{
        width: 50%;
        height: 50%;
        object-fit: cover;
        margin: auto;
        display: inline-block;
        background-color: white;
        border: 3px solid #00643D;
        border-radius: 200px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .kutu h3{
        padding-top: 30px;
        text-align: center;
        background-color: #383838;
    }
    .kutu h6{
        text-align: center;
        color: #D7FA51;
        background-color: #383838;
        font-size: 14px;
    }
    .kutu p{
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: #383838;
        border-radius: 10px;
    }
     
    .kutu .kutu-social a{
        text-decoration: none;
        color: white;
        background-color: none;
        border-radius: 10px;
        display: inline-block;
        object-fit: cover;
    }

    .kutu .kutu-social{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        background-color: #383838;
        gap: 10px;
        @media screen and (max-width: 368px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .kutu .kutu-social-a{
        width: 20px;
        height: 20px;
        background-color: #383838;
        border-radius: 10px;
        
    }

     
    .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        background-color: #383838;
        width: 100%;
        height: 100%;
        gap: 10px;
        @media screen and (max-width: 368px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    
    .kutu .button-container a{
        text-decoration: none;
        border: none;
        display: inline-block;
        margin-top: 10px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        width: 100%;
        height: 100%;
        background-color: #00643D;
        border-radius: 100px;
    }

    .kutu .button-container a:hover{
        background-color: #00452a;
        color: white;
    }




    .details{
        display: flex;
        justify-content: left;
        align-items: bottom;
        text-align: center;
        background-color: #383838;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        gap: 10px;
        margin-top: 10px;
        @media screen and (max-width: 368px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

    }
    .details img{
        width: 5%;
        height: 5%;
        background-color: #383838;
        border-radius: 10px;
        flex-wrap: wrap;
    }
    .details p{
        display: flex;
        font-size: 14px;
        color: white;
        background-color: #383838;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }




    .section{
        display: block;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        background-color: #1f1f1f;
        margin: 10px;
        border-radius: 10px;
        border: 0px solid black;
        width: 100%;
        height: 100%;
    }
    .section-header{
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: left;
        background-color: #1f1f1f;
    }
    .section-header img{
        width: 30%;
        height: 30%;
        object-fit: cover;
        border-radius: 10px;
    }

    .section-content{
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: left;
        gap: 10px;
    }

    .section-content img{
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 10px;
    }

    .card1{
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border: 2px solid wheat;
        background-color: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        margin: 10px;
        padding: 10px;
        gap: 10px;
    }
    .card1 img{
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 10px;
    }
    .card1 .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card1 .title-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: left;
        text-align: left;
        margin-left: 10px;
        gap: 10px;
    }
    .card1 .title{
        display: inline-block;
        justify-content: space-between;
        align-items: right;
        text-align: right;
        font-size: 15px;
        font-weight: bold;
        color: #D7FA51;
        border-radius: 10px;
        margin-right: 10px;
    }
    .card1 .description{
        display: flex;
        font-size: 14px;
        color: white;
        border-radius: 10px;
    }

    .cards{
            display: flex;
            align-items: center;
            border: 2px solid wheat;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            margin: 10px;
            padding: 10px;
            background-color: #202020;
            gap: 10px;
    }   


    .cards img{
        width: 25%;
        height: 25%;
        object-fit: cover;
        border-radius: 10px;
    }
    .cards .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        text-align: left;
        margin-left: 10px;
        gap: 10px;
    }

    .cards .title-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: left;
        text-align: left;
        gap: 10px;
    }
    .cards .price{
        display: inline-block;
        justify-content: space-between;
        align-items: right;
        text-align: right;
        font-size: 14px;
        color: #D7FA51;
        border-radius: 10px;
        margin-right: 10px;
    }

    .section .section-content .text-container{
        width: 100%;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        display: flex;
        border: 0px solid black;
        font-size: 15px;
        font-weight: bold;
        gap: 10px;

    }
    .section .section-content .text-container .title{
        color: #D7FA51;
    }
    .section .section-content .text-container .description{
        color: white;
    }



    .footer .footer-header{
        grid-area: footer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer{
        color: #D7FA51;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #1f1f1f; 
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .footer a{
        color: whitesmoke;
    }
